[Unit]
Description=MySQL 全量备份定时任务：每天凌晨5点
Requires=db-backup.service

[Timer]
OnCalendar=daily
OnCalendar=05:00
Persistent=true
RandomizedDelaySec=120

[Install]
WantedBy=timers.target
